<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>$meta.reportTitle - Suites</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="reportng.js"></script>
</head>
<body>

<div style="padding: 5px; background-color: #eeeeee;">
  <strong>$meta.reportTitle</strong><br />
  <div class="small">
    <a href="overview.html" target="main">Overview</a>
    #if( $utils.allOutput )
    - <a href="output.html" target="main">Log Output</a>
    #end
    #if( $meta.coverageLink )
    - <a href="$meta.coverageLink" target="_top">Coverage Report</a>
    #end
  </div>
</div>
<p>
  <strong>Test Suites</strong><br />
  <span class="small">(Click titles to show/hide contents)</span>
</p>
#foreach( $suite in $suites )
<div class="header suite"
     style="margin: 2px; padding: 1px; cursor: pointer; clear: right;"
     onclick="toggleDiv('tests-${velocityCount}'); toggle('toggle-${velocityCount}')">
  <span id="toggle-${velocityCount}" class="toggle">&#x25bc;</span>${suite.name}
</div>
<div id="tests-${velocityCount}" style="display: block;">
  #set( $suiteId = $velocityCount )
  #foreach( $result in $suite.results )
  <div class="test" style="margin: 2px; padding-top: 1px; padding-bottom: 1px; clear: right;">
    #if( $result.testContext.failedTests.size() > 0 )
    <span class="failureIndicator">&#x2718;</span>
    #else
      #if( $result.testContext.skippedTests.size() > 0 )
      <span class="skipIndicator">&#x2714;</span>
      #else
      <span class="successIndicator">&#x2714;</span>
      #end
    #end
    <a href="suite${suiteId}_test${velocityCount}_results.html" target="main">$result.testContext.name</a>
  </div>
  #end
</div>
#end
</body>
</html>
