<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $messages.getString("overview")</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
</head>
<body>
<div id="meta">
  $messages.getString("generatedBy")
  $messages.getString("atTime") $meta.reportTime $messages.getString("onDate") $meta.reportDate
  <br /><span id="systemInfo">$meta.user&nbsp;/&nbsp;$meta.javaInfo&nbsp;/&nbsp;$meta.platform</span>
</div>

<h1>$meta.reportTitle</h1>
#if (!$utils.allOutput.empty)
  <p>
    <a href="output.html">$messages.getString("logOutput")</a>
    #if ($meta.coverageLink)
      &#183; <a href="$meta.coverageLink" target="_top">$messages.getString("coverageReport")</a>
    #end
  </p>
#end

#foreach ($suite in $suites)
<table class="overviewTable">
  #set ($suiteId = $velocityCount)
  #set ($totalTests = 0)
  #set ($totalPassed = 0)
  #set ($totalSkipped = 0)
  #set ($totalFailed = 0)
  <tr>
    <th colspan="6" class="header suite">
      <div class="suiteLinks">
        #if (!$suite.invokedMethods.empty)
        ##<a href="suite${suiteId}_chronology.html">$messages.getString("chronology")</a>
        #end
        #if ($utils.hasGroups($suite))
        <a href="suite${suiteId}_groups.html">$messages.getString("groups")</a>
        #end
      </div>
      ${suite.name}
    </th>
  </tr>
  <tr class="columnHeadings">
    <td>&nbsp;</td>
    <th>$messages.getString("duration")</th>
    <th>$messages.getString("passed")</th>
    <th>$messages.getString("skipped")</th>
    <th>$messages.getString("failed")</th>
    <th>$messages.getString("passRate")</th>
  </tr>
  #foreach ($result in $suite.results)
  #set ($notPassedTests = $result.testContext.skippedTests.size() + $result.testContext.failedTests.size())
  #set ($total = $result.testContext.passedTests.size() + $notPassedTests)
  #set ($totalTests = $totalTests + $total)
  #set ($totalPassed = $totalPassed + $result.testContext.passedTests.size())
  #set ($totalSkipped = $totalSkipped + $result.testContext.skippedTests.size())
  #set ($totalFailed = $totalFailed + $result.testContext.failedTests.size())
  #set ($failuresExist = $result.testContext.failedTests.size()>0 || $result.testContext.failedConfigurations.size()>0)

  #if (($onlyReportFailures && $failuresExist) || (!$onlyReportFailures))
  <tr class="test">
    <td class="test">
      <a href="suite${suiteId}_test${velocityCount}_results.html">${result.testContext.name}</a>
    </td>
    <td class="duration">
      $utils.formatDuration($utils.getDuration($result.testContext))s
    </td>

    #if ($result.testContext.passedTests.size() > 0)
    <td class="passed number">$result.testContext.passedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.skippedTests.size() > 0)
    <td class="skipped number">$result.testContext.skippedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.failedTests.size() > 0)
    <td class="failed number">$result.testContext.failedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    <td class="passRate">
      #if ($total > 0)
      ## Use math trickery to avoid rounding errors that happen with Velocity's integer math.
      ## For example, when 48 out of 49 tests pass, the actual pass rate is 97.96%, but integer math
      ## incorrectly rounds that down to 97%, when we want it to be rounded up to 98%.
      ## The workaround is to scale everything up so we're not dealing with decimals, and inspect
      ## integer remainders (instead of digits to the right of the decimal point) to determine
      ## whether to round up or round down.
      #set ($passed = ($total - $notPassedTests))
      #set ($passedScaledUp = ($passed * 10000))
      #set ($passRateScaledUp = ($passedScaledUp / $total))
      #set ($passRateUnrounded = ($passRateScaledUp / 100))
      #set ($passRateRemainder = $passRateScaledUp % 100)

      ## X.50+% gets rounded up to X+1%, and X.49-% gets rounded down to X%
      ## For example, 23.53% gets rounded up to 24%, and 23.46% gets rounded down to 23%
      #if ($passRateRemainder > 49)
        #set ($passRateRounded = ($passRateUnrounded + 1))
      #else
        #set ($passRateRounded = ($passRateUnrounded))
      #end

      ## There are two corner cases we have to treat separately:
      ## Corner case #1: don't round up to 100%, since that suggests there are no failures when in fact there are
      #if (($passRateRounded == 100) && ($failed > 0))
      #set ($passRateRounded = 99)
      #end

      ## Corner case #2: don't round down to 0%, since that suggests there are no passes when in fact there are
      #if (($passRateRounded == 0) && ($passed > 0))
      #set ($passRateRounded = 1)
      #end

      $passRateRounded%
      #else
      $messages.getString("notApplicable")
      #end
    </td>
  </tr>
  #end
  #end

    <tr class="suite">
    <td colspan="2" class="totalLabel">$messages.getString("total")</td>

    #if ($totalPassed > 0)
    <td class="passed number">$totalPassed</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($totalSkipped > 0)
    <td class="skipped number">$totalSkipped</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($totalFailed > 0)
    <td class="failed number">$totalFailed</td>
    #else
    <td class="zero number">0</td>
    #end

    <td class="passRate suite">
      #if ($totalTests > 0)
      ## Use the same math trickery here for total stats as we used above for per-suite stats.
      #set ($totalPassed = ($totalTests - $totalSkipped - $totalFailed))
      #set ($totalPassedScaledUp = ($totalPassed * 10000))
      #set ($totalPassRateScaledUp = ($totalPassedScaledUp / $totalTests))
      #set ($totalPassRateUnrounded = ($totalPassRateScaledUp / 100))
      #set ($totalPassRateRemainder = $totalPassRateScaledUp % 100)
      #if ($totalPassRateRemainder > 49)
        #set ($totalPassRateRounded = ($totalPassRateUnrounded + 1))
      #else
        #set ($totalPassRateRounded = ($totalPassRateUnrounded))
      #end

      ## Corner case #1: don't round up to 100%, since that suggests there are no failures when in fact there are
      #if (($totalPassRateRounded == 100) && ($totalFailed > 0))
        #set ($totalPassRateRounded = 99)
      #end

      ## Corner case #2: don't round down to 0%, since that suggests there are no passes when in fact there are
      #if (($totalPassRateRounded == 0) && ($totalPassed > 0))
        #set ($totalPassRateRounded = 1)
      #end

      $totalPassRateRounded%

      #else
      $messages.getString("notApplicable")
      #end
    </td>

  </tr>
</table>
#end
</body>
</html>
