<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $messages.getString("logOutput")</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
</head>
<body>
  <h1>$messages.getString("logOutput")</h1>
  <p>
    $messages.getString("logOutput.description")
    <a href="http://testng.org/javadocs/org/testng/Reporter.html">TestNG Reporter</a>.
  </p>

  <div id="log">
    #foreach( $line in $utils.allOutput )
      #if( $meta.shouldEscapeOutput() )
        $utils.escapeHTMLString($line)<br />
      #else
        $line
      #end
    #end
  </div>

</body>
</html>