a                   {color: #006699;}
a:visited           {color: #003366;}
body                {font-family: sans-serif;
                     font-size: 10pt;}

.title              {font-size: 18pt;
                     font-weight: bold;}
.header             {font-size: 12pt;
                     font-weight: bold;}
.small              {font-size: 8pt;}
.shaded             {background-color: #cccccc;
                     color: #000000;}

.passed             {background-color: #44aa44;
                     font-weight: bold;}
.skipped            {background-color: #ffaa00;
                     font-weight: bold;}
.failed             {background-color: #ff4444;
                     font-weight: bold;}
.failed-config      {background-color: #800000;
                     font-weight: bold;
                     color: #ffffff}

.zero               {background-color: #eeeeee;
                     font-weight: normal;}

.output             {font-family: monospace;
                     font-size: 9pt;
                     color: #777777;}

.suite              {background-color: #999999;}
.test               {background-color: #eeeeee;
                     padding-left: 20px;}

.passRate           {font-weight: bold;
                     text-align: center;}

/* Numbers in columns should be right-aligned. */
.number             {text-align: right;}

table.resultsTable  {border: 0;}
.resultsTable td    {vertical-align: top;
                     padding-left: 5px;
                     padding-right: 5px;}

/* The +/- toggle used in the navigation frame. */
.toggle             {font-family: monospace;
                     font-weight: bold; 
                     padding-left: 2px;
                     padding-right: 5px;
                     color: #777777;}