a                   {color: #006699;}
a:visited           {color: #003366;}
body                {font-family: sans-serif;
                     font-size: 10pt;}

.title              {font-size: 18pt;
                     font-weight: bold;}
.header             {font-size: 12pt;
                     font-weight: bold;}
.small              {font-size: 8pt;}

.passed             {background-color: #44aa44;
                     font-weight: bold;}
.skipped            {background-color: #ffaa00;
                     font-weight: bold;}
.failed             {background-color: #ff4444;
                     font-weight: bold;}
.failed-config      {background-color: #800000;
                     font-weight: bold;
                     color: #ffffff}
.skipped-config     {background-color: #cc6600;
                     font-weight: bold;
                     color: #ffffff}


.output             {font-family: monospace;
                     font-size: 9pt;
                     color: #777777;}

.suite              {background-color: #999999;}
.test               {background-color: #eeeeee;
                     padding-left: 20px;}
.testClass          {background-color: #cccccc;
                     color: #000000;}

.passRate           {font-weight: bold;
                     text-align: center;}

/* Numbers in columns should be right-aligned. */
.number             {text-align: right;}

.zero               {background-color: #eeeeee;
                     font-weight: normal;}

table.resultsTable  {border: 0;}
.resultsTable td    {vertical-align: top;
                     padding-left: 5px;
                     padding-right: 5px;}

table.configTable   {border: 2px solid #800000;
                     background: #ffffdd;
                     color: #800000;
                     margin-bottom: 25px;}

/* The +/- toggle used in the navigation frame. */
.toggle             {font-family: monospace;
                     font-weight: bold; 
                     padding-left: 2px;
                     padding-right: 5px;
                     color: #777777;}

.successIndicator   {float: right;
                     font-family: monospace;
                     padding-right: 2px;
                     color: #44aa44;}

.skipIndicator      {float: right;
                     font-family: monospace;
                     padding-right: 2px;
                     color: #ffaa00;}

.failureIndicator   {float: right;
                     font-family: monospace;
                     padding-right: 2px;
                     color: #ff4444;}

.dependency         {font-weight: bold;}

.info               {float: right;
                     font-weight: bold;
                     font-family: monospace;
                     text-decoration: none;}

.description        {font-size: 9pt;
                     color: #000066;
                     font-style: italic;}

.stackTrace         {font-size: 8pt;
                     display: none;}

/* The div used as a divider line in the overview tables. */
.divider            {background: #000000;
                     margin: 0;
                     height: 2px}

.systemInfo         {font-size: 8pt;
                     text-align: right;
                     float: right;
                     color: #777777;}
