<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit Tests" verbose="1" parallel="classes" thread-count="3">
  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
  </listeners>
  <test name="ReportNG" >
    <packages>
      <package name="org.uncommons.reportng" />
    </packages>
  </test>

</suite>
