a                   {color: #006699;}
a:visited           {color: #003366;}
body                {font-family: sans-serif;
                     font-size: 10pt;}

.title              {font-size: 18pt;
                     font-weight: bold;}
.header             {font-size: 12pt;
                     font-weight: bold;}
.small              {font-size: 8pt;}
.shaded             {background-color: #cccccc;}

.passed             {background-color: #44aa44;
                     font-weight: bold;}
.skipped            {background-color: #ffaa00;
                     font-weight: bold;}
.failed             {background-color: #ff4444;
                     font-weight: bold;}
.zero               {background-color: #eeeeee;
                     font-weight: normal;}

.output             {font-family: monospace;
                     font-size: 8pt;
                     color: #777777;}

.suite              {background-color: #999999;}
.test               {background-color: #eeeeee;}
.test td            {padding-left: 15px;}

/* Numbers in columns should be right-aligned. */
.number             {text-align: right;}

table.summaryTable  {border: 1px solid #000000;
                     border-collapse: collapse;}
tr.summaryTable     {border: 0;}
td.summaryTable     {border: 0;}

table.resultsTable  {border: 0;}
.resultsTable td    {vertical-align: top;
                     padding-left: 5px;
                     padding-right: 5px;}