<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Test Results Report</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="reportng.js" />
</head>
<body>

<div style="padding: 5px; background-color: #eeeeee;">
  <strong>$utils.reportTitle</strong><br />
  <div class="small">
    <a href="overview.html" target="main">Overview</a>&nbsp;&nbsp;&nbsp;
    #if ($utils.coverageLink)
      <a href="$utils.coverageLink" target="_top">Coverage Report</a>
    #end
  </div>
</div>
<p><strong>Test Suites</strong></p>
#foreach ($suite in $suites)
  <div><strong><a href="javascript:toggleDiv('tests-${velocityCount}')">${suite.name}</a></strong></div>
  <div id="tests-${velocityCount}" style="display: none; padding-left: 15px;">
    #foreach ($result in $suite.results)
      <a href="suite1_test${velocityCount}_results.html" target="main">$result.testContext.name</a><br />
    #end
  </div>
  #end
</body>
</html>