<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>$meta.reportTitle - Suites</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
  <script type="text/javascript" src="reportng.js"></script>
</head>
<body style="margin-top: 0;">

<div id="sidebarHeader">
  <h2>$meta.reportTitle</h2>
  <p>
    <a href="overview.html" target="main">Overview</a>
    #if( !$utils.allOutput.empty )
    &#183; <a href="output.html" target="main">Log&nbsp;Output</a>
    #end
    #if( $meta.coverageLink )
    &#183; <a href="$meta.coverageLink" target="_top">Coverage&nbsp;Report</a>
    #end
  </p>
</div>
<div style="line-height: 1.7em;">
  #foreach( $suite in $suites )
  <div class="header suite"       
       onclick="toggleDiv('tests-${velocityCount}'); toggle('toggle-${velocityCount}')">
    <span id="toggle-${velocityCount}" class="toggle">&#x25bc;</span>${suite.name}
  </div>
  <div id="tests-${velocityCount}" style="display: block;">
    #set( $suiteId = $velocityCount )
    #foreach( $result in $suite.results )
    <div class="test">
      #if( $result.testContext.failedTests.size() > 0 )
      <span class="failureIndicator" title="Some tests failed.">&#x2718;</span>
      #else
        #if( $result.testContext.skippedTests.size() > 0 )
        <span class="skipIndicator" title="All executed tests passed but some tests were skipped.">&#x2714;</span>
        #else
        <span class="successIndicator" title="All tests passed.">&#x2714;</span>
        #end
      #end
      <a href="suite${suiteId}_test${velocityCount}_results.html" target="main">$result.testContext.name</a>
    </div>
    #end
  </div>
  #end
</div>
</body>
</html>
